---
import Layout from "./layouts/layout_global.astro"
import Discoteca from "./comps/Discotecas";
import {getDiscotecas} from "./../../public/api";
const discotecas = getDiscotecas();

---

<Layout>
    <div class="super-div">
        {
            discotecas.map(e => (
                <Discoteca name={e.name} address={e.address} telephoneNumber={e.telephoneNumber} rate={e.rate}/>
            ))
        }
    </div>
</Layout>